@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    color: #19171c;
    font-size: 1.2rem;
}

form {
    width: 700px;
    margin: auto;
    background-color: #8bf;
    margin-top: 100px;
}

.input,
.textarea {
    margin: 15px;
    padding: 10px;
    width: 640px;
    font-size: 18px;
    margin-bottom: 5px;
}

.textarea {
    min-width: 640px;
    max-width: 640px;
    min-height: 100px;
    max-height: 300px;
    border: none;
    margin-bottom: 5px;
}

.input[type="submit"] {
    margin-bottom: 15px;
    margin-top: 5px;
    width: 665px;
}

.reset {
    margin: 15px;
    padding: 10px;
    width: 665px;
    font-size: 18px;
    margin-bottom: 5px;
}

.label {
    margin: 15px;
    padding: 10px;
    width: 665px;
    font-size: 18px;
    margin-bottom: 5px;
}

.pages {
    align-items: center;
    display: flex;
    position: absolute;
    top: 220%;
    left: 90%;
}

.text-disabled {
    margin-right: 0.5%;
    margin-left: 0.5%;
}

.pages_number {
    margin-right: 0.5%;
    text-decoration: none;
    color: rgb(255, 115, 0);
}

.pages>a i {
    color: #000;
}

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 3.6rem;
    height: 3.6rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: #000;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-0%, -0%);
    z-index: -1;
}

.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-0%, -0%) scale(0);
    color: #fff;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .6s ease-in-out;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        height: 0rem;
        width: 0rem;
    }
    50% {
        width: 5.5rem;
        height: 5.5rem;
    }
    100% {
        width: 3.6rem;
        height: 3.6rem;
    }
}

#input-search {
    width: 21%;
    background: #fff;
    border: 2px solid black;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    text-indent: 10px;
    position: absolute;
    top: 1.5%;
    left: 73%;
}

.content-search {
    width: 30%;
    height: 17%;
    position: absolute;
    top: 60px;
    left: 70%;
    display: none;
}

.content-table {
    width: 97.5%;
    max-height: 200px;
    height: auto;
    background: rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    overflow-y: visible;
    overflow-x: hidden;
}

.content-table table {
    width: 100%;
}

tbody tr td a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

tbody tr td a:hover {
    background: rgba(0, 0, 0, 0.3);
}

#table_length,
#table_filter,
#table_info,
#table_paginate {
    display: none;
}

.navegacion>img {
    margin-left: 15%;
    margin-right: 4%;
    transform: translate(-50%, -50%);
    top: 3%;
    left: 0%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.navegacion>a {
    margin-right: 1.5%;
    margin-left: 10%;
    display: inline-block;
    transform: translate(-50%, -50%);
    top: 4%;
    left: 15%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#forums {
    color: white;
    transform: translate(-50%, -50%);
    top: 4%;
    left: 30%;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.account {
    margin-bottom: 10px;
    margin-left: 30%;
}

.account>a {
    margin-right: 2%;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/*
    .navegacion-contenedor {
        left: 30%;
        position: absolute;
        top: 30%;
        transform: translate(-50%, -50%);
    }

    .navegacion-contenedor>a {
        color: #19171c;
        margin-right: 10px;
        font: inherit;
        font-size: 80%;
    }
    */

@media screen and (max-width: 1920px) {
    .navegacion>a {
        font-size: 30px;
        top: 2.5%;
        font-family: 'Oswald', sans-serif;
    }
    .navegacion>img {
        top: 1.9%;
    }
    #forums {
        top: 2.5%;
    }
    .pages {
        top: 137%;
        left: 92%;
    }
}

@media screen and (max-width: 1500px) {
    .navegacion>a {
        font-size: 30px;
        top: 4%;
    }
    #forums {
        font-size: 30px;
        top: 4%;
    }
    .navegacion>img {
        top: 3%;
        width: 50px;
        height: 35px;
    }
    #input-search {
        top: 1%;
    }
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
    .pages {
        top: 224%;
        left: 87%;
    }
}

@media screen and (max-width: 1280px) {
    .navegacion>a {
        font-size: 33px;
        font-family: 'Oswald', sans-serif;
    }
    .pages {
        top: 200%;
        left: 87%;
    }
}

@media screen and (max-width: 1024px) {
    .navegacion>a {
        font-size: 35px;
        top: 2%;
    }
    .navegacion>img {
        margin-left: 10%;
        top: 1.5%;
        width: 50px;
        height: 30px;
    }
    #forums {
        top: 2%;
        left: 40%;
    }
    .pages {
        top: 132%;
        left: 75%;
    }
}

@media screen and (max-width: 960px) {
    .navegacion>a {
        top: 4%;
    }
    .navegacion>img {
        top: 3%;
    }
    #forums {
        top: 4.4%;
    }
    .pages {
        top: 292%;
        left: 83%;
    }
}

@media screen and (max-width: 800px) and (max-height: 1280px) {
    .navegacion>a {
        top: 2.3%;
    }
    .navegacion>img {
        top: 1.6%;
    }
    #forums {
        top: 2.3%;
    }
    .pages {
        top: 132%;
        left: 79%;
    }
}

@media screen and (max-width: 768px) {
    #forums {
        margin-left: 15%;
        top: 2.5%;
    }
    .navegacion>img {
        margin-left: 9%;
        top: 1.9%;
    }
    .navegacion>a {
        top: 2.5%;
    }
    .pages {
        top: 165%;
        left: 80%;
    }
}

@media screen and (max-width: 640px) {
    .pages {
        top: 388%;
        left: 75%;
    }
    .navegacion>a {
        top: 5.7%;
        left: 17%;
    }
    #forums {
        top: 6%;
    }
}

@media screen and (max-width: 560px) {
    .navegacion>a {
        top: 3%;
        left: 19%;
        font-size: 25px;
    }
    #forums {
        font-size: 25px;
        top: 3%;
        left: 39%;
    }
    .go-top-button {
        display: none;
    }
    .go-top-container {
        display: none;
    }
    form {
        width: 450px;
        margin-top: 50px;
    }
    .input,
    .textarea {
        margin: 15px;
        padding: 10px;
        width: 400px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .textarea {
        min-width: 400px;
        max-width: 400px;
        min-height: 100px;
        max-height: 300px;
        border: none;
        margin-bottom: 5px;
    }
    .input[type="submit"] {
        margin-bottom: 15px;
        margin-top: 5px;
        width: 416px;
    }
    .reset {
        margin: 15px;
        padding: 10px;
        width: 416px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .label {
        margin: 15px;
        padding: 10px;
        width: 370px;
        font-size: 18px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 480px) {
    #forums {
        visibility: hidden;
    }
    .navegacion>a {
        font-size: 34px;
        font-family: 'Oswald', sans-serif;
        margin-right: 1%;
        top: 3.6%;
        left: 35%;
        visibility: visible;
    }
    .navegacion>img {
        margin-left: 15%;
        top: 2.5%;
    }
    .go-top-button {
        display: none;
    }
    .go-top-container {
        display: none;
    }
    .pages {
        top: 251%;
        left: 65%;
    }
}

@media screen and (max-width:430px) {
    form {
        width: 360px;
        margin-top: 50px;
    }
    .input,
    .textarea {
        margin: 15px;
        padding: 10px;
        width: 310px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .textarea {
        min-width: 310px;
        max-width: 310px;
        min-height: 100px;
        max-height: 300px;
        border: none;
        margin-bottom: 5px;
    }
    .input[type="submit"] {
        margin-bottom: 15px;
        margin-top: 5px;
        width: 336px;
    }
    .reset {
        margin: 15px;
        padding: 10px;
        width: 336px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .label {
        margin: 15px;
        padding: 10px;
        width: 310px;
        font-size: 18px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 375px) and (max-height: 667px) {
    .pages {
        position: inherit;
        margin-left: 10px;
        margin-top: 90%;
    }
}

@media screen and (max-width: 375px) and (max-height: 820px) {
    .pages {
        position: absolute;
        top: 237%;
        left: 75%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 360px) {
    form {
        width: 360px;
        margin-top: 50px;
    }
    .input,
    .textarea {
        margin: 15px;
        padding: 10px;
        width: 310px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .textarea {
        min-width: 310px;
        max-width: 310px;
        min-height: 100px;
        max-height: 300px;
        border: none;
        margin-bottom: 5px;
    }
    .input[type="submit"] {
        margin-bottom: 15px;
        margin-top: 5px;
        width: 336px;
    }
    .reset {
        margin: 15px;
        padding: 10px;
        width: 336px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .label {
        margin: 15px;
        padding: 10px;
        width: 310px;
        font-size: 18px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 360px) and (max-height: 740px) {
    .pages {
        top: 260%;
        left: 75%;
    }
}

@media screen and (max-width: 320px) {
    .navegacion>a {
        font-size: 30px;
    }
    .content-table {
        width: 115%;
    }
    .content-search {
        left: 63%;
    }
    .go-top-button {
        display: none;
    }
    .go-top-container {
        display: none;
    }
    form {
        width: 320px;
        margin-top: 50px;
    }
    .input,
    .textarea {
        margin: 15px;
        padding: 10px;
        width: 270px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .textarea {
        min-width: 270px;
        max-width: 270px;
        min-height: 100px;
        max-height: 300px;
        border: none;
        margin-bottom: 5px;
    }
    .input[type="submit"] {
        margin-bottom: 15px;
        margin-top: 5px;
        width: 300px;
    }
    .reset {
        margin: 15px;
        padding: 10px;
        width: 300px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .label {
        margin: 15px;
        padding: 10px;
        width: 270px;
        font-size: 18px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 280px) {
    .navegacion>a {
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
    }
    .navegacion>img {
        width: 40px;
        height: 20px;
    }
    .go-top-button {
        display: none;
    }
    .go-top-container {
        display: none;
    }
    form {
        width: 270px;
        margin-top: 50px;
    }
    .input,
    .textarea {
        margin: 15px;
        padding: 10px;
        width: 220px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .textarea {
        min-width: 220px;
        max-width: 220px;
        min-height: 100px;
        max-height: 300px;
        border: none;
        margin-bottom: 5px;
    }
    .input[type="submit"] {
        margin-bottom: 15px;
        margin-top: 5px;
        width: 240px;
    }
    .reset {
        margin: 15px;
        padding: 10px;
        width: 240px;
        font-size: 18px;
        margin-bottom: 5px;
    }
    .label {
        margin: 15px;
        padding: 10px;
        width: 2400px;
        font-size: 18px;
        margin-bottom: 5px;
    }
}